.item{
    
   
    width: 170px;
    height: auto;
    margin: 80px 80px;
    text-align: center;
    font-size: xx-large;
   background-color: ;
    

}

    
    


.image:hover{
background-color: brown;
animation:s ;
}
.fcontainer{
    display: flex;
    
    
    
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color:azure
    width: 100%;
    margin-left: 0px;
    

}
img{
    height: 100%;
    justify-content: ;
    width: 90%;
    border-radius: 45px;
    
   
}
h1{
    padding: 15px 4px;
    position: absolute;
    top: 75%;
    bottom: 50%;
    font-size: 70px;
    left: 70px;
    color: rgb(215, 228, 237);
    font-family: inherit;


    

}